
The 'requirements' directory contains scripts to automatically install crosser requirements
for some systems. See if there's one suitable for you.


dllstack.sh
===========

- MinGW cross-toolchain (i686-w64-mingw32-gcc or x86_64-w64-mingw32-gcc etc)
- gcc (native compiler)
- g++ (native compiler)
- wget2       - for fetching source packages
- tar         - for unpacking source packages
- gzip        - for unpacking source packages
- bzip2       - for unpacking source packages
- xz          - for unpacking source packages
- patch       - for applying patches to source packages
- gtk-doc     - in debian system relevant parts are in gtk-doc-tools
- gdk-pixbuf-csource - package libgdk-pixbuf2.0-bin in debian based distributions
- intltool-update
- zlib development files
- gettext
- libtiff development files
- libpng development files
- XML::Simple perl module - package libxml-simple-perl in debian system
- flex
- bison
- itstool
- xsltproc
- DocBook XSL Stylesheets
- Python development files
- sassc
- xmlto
