Source: crosser
Section: dev
Priority: optional
Maintainer: Marko Lindqvist <cazfi74@gmail.com>

Package: crosser
Section: dev
Architecture: all
Depends: ${misc:Depends}
Description: Cross-compiler builder
