#!/usr/bin/make -f

# Makefile for building crosser deb
#
# (c) 2011 Marko Lindqvist
#
# This program is licensed under Gnu General Public License version 2.
#

clean:
	rm -f build-stamp
	dh_clean

build:

install:
	mkdir -p $(PWD)/debian/tmp/usr/share/crosser
	mkdir -p $(PWD)/debian/tmp/usr/share/doc
	mkdir -p $(PWD)/debian/tmp/usr/bin
	cp dllstack.sh crosser.sh $(PWD)/debian/tmp/usr/bin/
	cp -R CrosserVersion scripts patch setups steps mirrors $(PWD)/debian/tmp/usr/share/crosser/
	cp -R doc $(PWD)/debian/tmp/usr/share/doc/crosser
	dh_install -X.svn

binary-indep: build install
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch:
	dh_testdir

binary: binary-indep binary-arch


.PHONY: build install clean binary-indep binary-arch binary
